<body>
  <div class="fixed-top">
    <div class="row" style="margin-top: 0.1%; margin-left: 0.5%; margin-right: 0">
      <div class="card card-body mb-3 rounded-0" style="border-color: transparent; height: 7.9rem; background-image: url(../../assets/sfondo_navbar.png); background-position: left; background-size: 100%; background-repeat: no-repeat" >
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 8.5rem; margin-left: 0.5%; margin-right: 0">
      <div class="col-md-3" style="padding: 0;">
        <div class="card card-body mb-3 card1" style="border-color: lightgrey; box-shadow: 10px 10px 5px #aaaaaa; height: 96%;" >
          <form>
            <div class="row">
              <div class="col-md-10" style="padding:0; margin-left: 4%">
                <input type="text" class="form-control form-control-sm" placeholder="Inserisci un indirizzo" #address > 
              </div>
              <div class="col-md-1"  style="padding:0;  text-align: center;">
                <button type="button" style="border-color: transparent; background-color: transparent;" (click)="search(address.value)"><span class="fa fa-search" style="text-align: center"></span></button>
              </div>
            </div>
          </form>
          <div *ngIf="!details" class="row" style="margin-top: 5%">
            <p *ngIf="searchAddress" style = "margin-left: 4%">Risultati per <b>{{searchAddress}}</b>:</p>
            <p *ngIf="emptyresults"style = "margin-left: 4%">Non ci sono risultati</p>
            <div *ngFor="let res of searchResults" class="card card-body mb-3 mycard" style="border-color: lightgrey; box-shadow: 5px 5px 5px #aaaaaa;" >
              <a (click)="zoomIn(res.display_name,res.lat, res.lon)" style="cursor: pointer;">{{res.display_name}}</a>
            </div>
          </div>
          <div *ngIf="details" class="row" style="margin-top: 5%">
            <button type="button" class="btn" (click)="back()" style="background-color: lightgray">Indietro</button>
            <div class="card card-body mb-3" style="border-color: lightgrey; box-shadow: 10px 10px 5px #aaaaaa; margin-top: 2%" >
              <h5><b>{{result.display_name}}</b></h5>
              <p><br> {{result.lat}}° , {{result.lon}}°</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9" style="padding-bottom: 0;  padding-right: 0.3%; padding-left: 2%">
          <div class="row">
        <div class="card card-body mb-3" style="border-color: lightgrey; box-shadow: 5px 5px 5px #aaaaaa; margin-right: 0" >
          <div class="row">
            
            <div class="col-md-2" >
              <select class="form-control form-control-sm" #variability (change)="onChange($event, variability.value)">
                <option value="default">Seleziona</option>
                <option value="anno">Anno</option>
                <option value="mese">Mese</option>
                <option value="giorno">Giorno</option>
                <option value="ora">Ora</option>
              </select>
            </div>
            <div *ngIf="selectedVariability == 'anno'" class="col-md-2">
             
              <div class="row" >
                <select class="form-control form-control-sm" #startyear (change)="onChangeStartYear($event, startyear.value)">
                    <option value="default">Da:</option>
                    <option *ngFor="let y of startYears" value="{{ y.anno }}">{{ y.anno }}</option>
                  </select>
              </div>
              <div class="row" style="padding-top:5%" >
                <select class="form-control form-control-sm" #endyear (change)="onChangeEndYear($event, endyear.value)">
                    <option value="default"> A:</option>
                    <option *ngFor="let y of endYears" value="{{ y.anno }}">{{ y.anno }}</option>
                  </select>
              </div>
           
            </div>
            <div *ngIf="selectedVariability == 'mese'">
             
                  <div class="row">
                      <div class="col-md-6" style = "padding-right: 2%">
                <select class="form-control form-control-sm" #startyear (change)="onChangeStartYearOfMonth($event, startyear.value)">
                    <option value="default"> Anno inizio:</option>
                    <option *ngFor="let y of startYears" value="{{ y.anno }}">{{ y.anno }}</option>
                </select>
                  </div>
                  <div class="col-md-6" style = "padding-left: 0">
                <select class="form-control form-control-sm" #startmonth (change)="onChangeStartMonth($event, startmonth.value)">
                    <option value="default">Mese inizio:</option>
                    <option *ngFor="let m of startMonths" value="{{ m.numero }}">{{ m.nome }}</option>
                </select>
                </div>
                </div>
      
                <div class="row" style="padding-top: 2%">
                    <div class="col-md-6" style = "padding-right: 2%">
                <select class="form-control form-control-sm" #endyear (change)="onChangeEndYearOfMonth($event, endyear.value)">
                    <option value="default">Anno fine:</option>
                    <option *ngFor="let y of endYears" value="{{ y.anno }}">{{ y.anno }}</option>
                </select>
              </div>
              <div class="col-md-6" style = "padding-left: 0">
                <select class="form-control form-control-sm" #endmonth (change)="onChangeEndMonth($event, endmonth.value)">
                    <option value="default">Mese fine:</option>
                    <option *ngFor="let m of endMonths" value="{{ m.numero }}">{{ m.nome }}</option>
                </select>
              </div>
              </div>
           
          </div>
            <div *ngIf="selectedVariability == 'giorno'">
  
                <div class="row">
                    <div class="col-md-4" style = "padding-right: 1%">
                <select class="form-control form-control-sm" #startyear (change)="onChangeStartYearOfDay($event, startyear.value)">
                    <option value="default">Anno inizio:</option>
                    <option *ngFor="let y of startYears" value="{{ y.anno }}">{{ y.anno }}</option>
                </select>
                </div>
                <div class="col-md-4" style = "padding-left: 0; padding-right: 1%">
                <select class="form-control form-control-sm" #startmonth (change)="onChangeStartMonthOfDay($event, startmonth.value)">
                    <option value="default">Mese inizio:</option>
                    <option *ngFor="let m of startMonths" value="{{ m.numero }}">{{ m.nome }}</option>
                </select>
              </div>
              <div class="col-md-4" style = "padding-left: 0; padding-right: 1%">
                <select class="form-control form-control-sm" #startday (change)="onChangeStartDayOfDay($event, startday.value)">
                    <option value="default">Giorno inizio:</option>
                    <option *ngFor="let d of startDays" value="{{ d }}">{{ d }}</option>
                </select>
                  </div>
                </div>
                <div class="row" style="padding-top: 2%">
                    <div class="col-md-4"  style = "padding-right: 1%">
                <select class="form-control form-control-sm" #endyear (change)="onChangeEndYearOfDay($event, endyear.value)">
                    <option value="default">Anno fine:</option>
                    <option *ngFor="let y of endYears" value="{{ y.anno }}">{{ y.anno }}</option>
                </select>
               </div>
               <div class="col-md-4"  style = "padding-left: 0; padding-right: 1%"> 
                <select class="form-control form-control-sm" #endmonth (change)="onChangeEndMonthOfDay($event, endmonth.value)">
                    <option value="default"> Mese fine:</option>
                    <option *ngFor="let m of endMonths" value="{{ m.numero }}">{{ m.nome }}</option>
                </select>
              </div>
              <div class="col-md-4"  style = "padding-left: 0; padding-right: 1%">
                <select class="form-control form-control-sm" #endday (change)="onChangeEndDayOfDay($event, endday.value)">
                    <option value="default">Giorno fine</option>
                    <option *ngFor="let d of endDays" value="{{ d }}">{{ d }}</option>
                </select>
                </div>
              </div>
            </div>
            <div *ngIf="selectedVariability == 'ora'">
                <div class="row">
                    <div class="col-md-3" style = "padding-right: 1%">
                <select class="form-control form-control-sm" #startyear (change)="onChangeStartYearOfHour($event, startyear.value)">
                    <option value="default"> Anno inizio:</option>
                    <option *ngFor="let y of startYears" value="{{ y.anno }}">{{ y.anno }}</option>
                </select>
                </div>
                <div class="col-md-3" style = "padding-left: 0; padding-right: 1%">
                
                <select class="form-control form-control-sm" #startmonth (change)="onChangeStartMonthOfHour($event, startmonth.value)">
                    <option value="default">Mese inizio:</option>
                    <option *ngFor="let m of startMonths" value="{{ m.numero }}">{{ m.nome }}</option>
                </select>
                </div>
              
                <div class="col-md-3" style = "padding-left: 0; padding-right: 1%">
                <select class="form-control form-control-sm" #startday (change)="onChangeStartDayOfHour($event, startday.value)">
                    <option value="default">Giorno inizio:</option>
                    <option *ngFor="let d of startDays" value="{{ d }}">{{ d }}</option>
                </select>
                </div>
                
                <div class="col-md-3" style = "padding-left: 0; padding-right: 1%">
                <select class="form-control form-control-sm" #starthour (change)="onChangeStartHour($event, starthour.value)">
                    <option value="default">Ora inizio:</option>
                    <option *ngFor="let h of startHours" value="{{ h }}">{{ h }}</option>
                </select>
                </div>
                </div>
                <div class="row" style="padding-top: 2%">
                <div class="col-md-3" style = "padding-right: 1%">
                <select class="form-control form-control-sm" #endyear (change)="onChangeEndYearOfHour($event, endyear.value)">
                    <option value="default">Anno fine:</option>
                    <option *ngFor="let y of endYears" value="{{ y.anno }}">{{ y.anno }}</option>
                </select>
                </div>
                <div class="col-md-3" style = "padding-left: 0; padding-right: 1%">
                <select class="form-control form-control-sm" #endmonth (change)="onChangeEndMonthOfHour($event, endmonth.value)">
                    <option value="default">Mese fine:</option>
                    <option *ngFor="let m of endMonths" value="{{ m.numero }}">{{ m.nome }}</option>
                </select>
                </div>
                <div class="col-md-3" style = "padding-left: 0; padding-right: 1%">
                <select class="form-control form-control-sm" #endday (change)="onChangeEndDayOfHour($event, endday.value)">
                    <option value="default">Giorno fine:</option>
                    <option *ngFor="let d of endDays" value="{{ d }}">{{ d }}</option>
                </select>
              </div>
              <div class="col-md-3" style = "padding-left: 0; padding-right: 1%">
                <select class="form-control form-control-sm" #endhour (change)="onChangeEndHour($event, endhour.value)">
                    <option value="default">Ora fine:</option>
                    <option *ngFor="let h of endHours" value="{{ h }}">{{ h }}</option>
                </select>
                </div>
                </div>
            </div>
            <div *ngIf="selectedVariability != undefined" class="col-md-2">
              <button type="button" class="btn" (click)="startAnimation()" style="background-color: rgb(231, 167, 46)">Start</button>
              <button *ngIf="animating" type="button" class="btn" (click)="stopAnimation()"  style="background-color: rgb(110, 110, 110); padding-left: 1%">Stop</button>
            </div>
          </div>
        </div>
      </div>
          <div class="row" style="padding-top: 0.1%">
            <div class="card card-body mb-3" style="border-color: lightgrey; box-shadow: 5px 5px 5px #aaaaaa; padding: 0; margin-right: 0" >
              <div id="map" class="map"></div>
              <div *ngIf="animating">{{ label }}</div>
            </div>
          </div>
    </div>
    <div class="row" style="margin-top: 1%; margin-left: 0.5%; margin-right: 0.3%">
      <div class="card card-body mb-3" style="border-color: lightgrey; box-shadow: 10px 10px 5px #aaaaaa; height: 100%" >
        <h2>Qual è il livello di esposizione medio?</h2>
        <div class="row">
          <div class="col-md-6" style="padding-top: 1%">
              <p>Attraverso i dati provenienti dai sensori di campo magnetico degli smartphone degli utenti, è possibile visualizzare la percentuale di essi che è esposta a livelli di radiazione bassi, medi e alti.</p>
              <p>I limiti di esposizione totale, previsti dalla normativa nazionale, per le basse frequenze (ELF) sono di 100 micro Tesla, il valore di attenzione e' di 10 micro Tesla e l'obiettivo qualita' e' di 3 micro Tesla. I limiti per le alte frequenze (radio frequenze e microonde), sono di 6 V/m per le zone intensamente frequentate (es. citta) e di 20 V/m per le zone non intensamente frequentate (es. campagna). La Raccomandazione comunitaria fissa il valore limite per le basse frequenze in 100 micro Tesla e per le alte frequenze il limite e' di 41,2 V/m, per le frequenze tipiche della telefonia cellulare a 900 Mhz, e di 58,3 V/m per quelle a 1800 Mhz.</p>
              <p><b>[Fonte: www.aduc.it]</b></p>
              <p>Il <b>{{efmedium[0]?.percentage}}%</b> dei nostri utenti è esposto a un livello di radiazione <b>{{efmedium[0]?.label}}</b>.<br>
                  Il <b>{{efmedium[1]?.percentage}}%</b> dei nostri utenti è esposto a un livello di radiazione <b>{{efmedium[1]?.label}}</b>.<br>
                  Il <b>{{efmedium[2]?.percentage}}%</b> dei nostri utenti è esposto a un livello di radiazione <b>{{efmedium[2]?.label}}</b>.</p>
            </div>
          <div class="col-md-6" style="text-align: center">
            <svg class="pie-chart"></svg>
            <div>
            <div style="display: inline-block;"><div class="foo green"></div>Basso</div>
            <div style="display: inline-block"><div class="foo yellow"></div>Medio</div>
            <div style="display: inline-block"><div class="foo red"></div>Alto</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row" style="margin-top: 1%; margin-left: 0.5%; margin-right: 0.5%">
      <div class="card card-body mb-3" style="border-color: lightgrey; box-shadow: 10px 10px 5px #aaaaaa; height: 100%" >
        <h2>Come varia la potenza irradiata a Lecce durante la giornata?</h2>
        <div class="row">
          <div class="col-md-6" style="padding-top: 1%">
              <p>Il dBm indica il livello del segnale, espresso in milliWatt, rapportato ad un segnale di riferimento (definito come "rumore" pari a 1 milliWatt). 
                Poiché il dBm rappresenta il rapporto fra due quantità omogenee (Segnale/Rumore), si tratta di una grandezza adimensionale (senza unità di misura), quindi di un numero puro.</p>
                <p><b>[Fonte: www.pc-facile.it]</b></p>
                <p>Abbiamo sfruttato i dati provenienti dagli smartphone degli utenti per ottenere l'andamento medio nelle 24h dei livelli di esposizione ai segnali telefonici nella città di Lecce.</p>
              <img src="../../assets/chart.png">
            </div>
          <div class="col-md-6" style="text-align: center; vertical-align: center">
            <svg id="linechart" class="line-chart"></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 1%; margin-left: 0.5%; margin-right: 0.5%">
      <div class="card card-body mb-3" style="border-color: lightgrey; box-shadow: 10px 10px 5px #aaaaaa; height: 100%" >
        <h2>Qual è il gestore telefonico che inquina di più?</h2>
        <div class="row">
          <div class="col-md-6" style="padding-top: 1%">
              <p>I nostri utenti ci inviano anche dati relativi al proprio gestore telefonico.</p>
              <p>Gli operatori telefonici (gestori) attualmente sul mercato per il traffico pubblico sono quattro: Telecom Italia, Vodafone, Wind e H3G. I primi due offrono servizi con tecnologia GSM (900 MHz), DCS (1800 MHz), UMTS (2000 MHz) e LTE (800 - 1800 - 2600 MHz); L´operatore Wind offre servizi con tecnologia GSM (900 Mhz), DCS (1800 MHz), UMTS (2000 MHz) e LTE (800 - 2600 MHz). L´operatore H3G è esclusivamente dedito al servizio cellulare di terza generazione UMTS e LTE (1800 - 2600 MHz).</p>
              <p>Le Staszione Radio Base (SRB) sono distribuite sul territorio in maniera capillare in funzione della densità di popolazione, essendo prevalentemente concentrate nelle aree urbane densamente abitate. A seconda del numero di utenti serviti, le SRB sono distanziate tra loro di poche centinaia di metri nelle grandi città fino a diversi chilometri nelle aree rurali.</p>
              <p>Ogni SRB è in grado di servire una porzione di territorio limitata, detta "cella", le cui dimensioni dipendono dalla densità degli utenti da servire nell´area, dall´altezza delle installazioni, dalla potenza impiegata e dalla tipologia dell´antenna utilizzata (come da figure).</p>
              <p><b>[Fonte: www.arpae.it]</b></p>
            </div>
          <div class="col-md-6" style="text-align: center">
            <svg id="barchart" class="bar-chart" style="fill: blue"></svg>
          </div>
        </div>
      </div>
    </div>
</body>
